body {
	background-color: #1a5f7a;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: black;
  height: fit-content;
}

.navbar-brand {
	background-color: #1a5f7a;
	color: aliceblue;
	width: 10%;
	height: 5%;
	border-radius: 5px;
	text-align: center;
	border: none;
}

.navbar-brand:hover {
	border: none;
	background-color: #2a728f;
	color: #fff;
	border-radius: 10px 0px 10px 0px;
}

.card-header {
	text-transform: capitalize;
	font-size: larger;
}

img {
	height: 80%;
	width: 70%;
	border-radius: 5px;
}

#img {
	height: 80%;
	width: 70%;
	margin: auto;
}

#img2 {
	height: 15px;
	width: 15px;
	padding-bottom: 2px;
}

.con {
	display: flex;
}

.container .card .card-body .card-text {
	color: grey;
}

ul li {
	color: gray;
	font-size: small;
}

ul li span {
	font-weight: bold;
}

a {
	color: gray;
}

.navbar-nav a {
	color: lightgray;
}

.navbar-nav .nav-link:hover {
	background-color: #1a5f7a;
	color: aliceblue;
	border-radius: 7px 0px 7px 0px;
}

.navbar-nav .navbar-item:hover {
	color: white;
	background-color: #1a5f7a;
}

.navbar-nav .navbar-item a {
	color: black;
	background-color: white;
}

.meals-showcase {
	list-style: none;
	width: 100%;
}

.meals-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.meal-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
	opacity: 1;
	transform: scale(1.03);
}

.container ul li iframe {
	margin: 3px 3px 3px 5px;
}

iframe {
	width: 102%;
	height: 409px;
}


body {
	background-color: #1a5f7a;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: black;
}

.navbar-nav a {
	color: lightgray;
}

.navbar-nav .nav-link:hover {
	background-color: #1a5f7a;
	color: aliceblue;
	border-radius: 7px 0px 7px 0px;
}

.navbar-nav .navbar-item:hover {
	color: white;
	background-color: #1a5f7a;
}

.navbar-nav .navbar-item a {
	color: black;
	background-color: white;
}

h3 {
	color: aliceblue;
	font-weight: bolder;

}

a {
	color: black;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	size: inherit;
}

#pic {
	border: 2px solid black;
	border-radius: 7px;
}

img {
	border: none !important;
	width: 110%;
  height: 120%;
}

.btn:hover {
	background-color: rgb(8, 97, 97);
	color: white;
	border: 2px solid black;
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

.swing {
	animation: swing ease-in-out 1s infinite alternate;
	transform-origin: center -20px;
	float: left;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
 
}

.swing img {
	border: 5px solid #f8f8f8;
	display: block;
}

.swing:after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border: 1px solid #999;
	top: -10px;
	left: 50%;
	z-index: 0;
	border-bottom: none;
	border-right: none;
	transform: rotate(45deg);
}

.swing:before {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	top: -14px;
	left: 54%;
	z-index: 5;
	border-radius: 50% 50%;
	background: #000;
}

input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

label {
	color: aliceblue;
	font-weight: 500;
	size: 15px;
	text-transform: capitalize;
}

input[type="submit"] {
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.contactContainer {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 50%;
	margin: auto;
	background-color: #1a5f7a;
}

h4 {
	text-align: center;
	color: white;
}
.mt-5 {
  margin-top: 7rem!important;
}
@keyframes swing {
	0% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(-3deg);
	}
}
#profileHeader:hover {
	
	background-color: #D2DAFF; 
	
  }
@media only screen and (max-width: 600px) {
	iframe {
		height: 150%;
		width: 150%;
	}
  .row{
    flex-direction: column;
    text-align: start;
    padding: auto;
    margin: auto;
  }
  .navbar-brand {
    background-color: #1a5f7a;
    color: aliceblue;
    width: 30%;
    height: 5%;
    border-radius: 5px;
    text-align: center;
    border: none;
  }
  
  .navbar-brand:hover {
    border: none;
    background-color: #2a728f;
    color: #fff;
    border-radius: 10px 0px 10px 0px;
  }
}
@media only screen and (max-width: 260px) {
	iframe {
		height: 150%;
		width: 150%;
	}
  .row{
    flex-direction: column;
    text-align: start;
    padding: auto;
    margin: auto;
  }
  .navbar-brand {
    background-color: #1a5f7a;
    color: aliceblue;
    width: 60%;
    height: 5%;
    border-radius: 5px;
    text-align: center;
    border: none;
  }
  
  .navbar-brand:hover {
    border: none;
    background-color: #2a728f;
    color: #fff;
    border-radius: 10px 0px 10px 0px;
  }
}